* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: white;
  font-size: 19px;
}
a {
  text-decoration: none;
  color: black;
}
.header {
}
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 40px;
  /* border: 1px solid; */
}
form,
.content {
}
.input-group {
  margin: 10px 0px 10px 0px;
}
.input-group label {
}
.input-group input {
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  /* border: 1px solid gray; */
}
.btn {
  height: 45px;
  width: 100%;
  height: 40px;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 30px;
  /* background-color: #003CC2; */
  background-color: #2cd23c;
  border: 1px solid #2cd23c;
  color: white;
  cursor: pointer;
  /* border: 1px solid gray; */
}
.btn:hover {
  background-color: white;
  color: #003cc2;
  border: 1px solid #003cc2;
}
.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 92%;
  margin: 0px auto;
  padding: 10px;
  /* border: 1px solid red; */
  color: red;
  background: #ffffff;
  border-radius: 5px;
  text-align: left;
}
.success {
  color: #3c763d;
  background: #dff0d8;
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}
